.tickets {
  padding: 0px 20px;
}

.ticket {
  display: flex;
  padding: 12px 3px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  justify-content: space-around;
}

.ticket:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ticketId {
  padding: 10px;
}

.ticketAmount {
  padding: 10px;
}

.ticketStatus {
  padding: 10px;
}

.ticketBtn {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}

.bgRed {
  color: #eee;
  background-color: #ec2f2f;
}

.bgBlue {
  color: #eee;
  background-color: #2f6ee2;
}

.bgBlue:hover {
  color: #333;
  background-color: #fff;
  border: 1px #2f6ee2 solid;
}

.bgGreen {
  background-color: #90cc20;
}

.bgGreen:hover {
  color: #333;
  background-color: #fff;
  border: 1px #90cc20 solid;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

@media only screen and (max-width: 500px) {
  .tickets {
    padding: 0px 20px;
  }
}
